#h11 {
    color: red;
    text-align: center;
    font-weight: 900;

}

.h12 {
    color: blue;
    text-align: center;
    font-weight: 400;
}


.button1{
    color: blue;
    text-align: right;
}

.button2{
    color: green;
    text-align: center;
}

